<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css\styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay%></h1>
    </div>
    
<div class="box">
        <div class="item">
            <input type="checkbox">
            <p>Hit the gym</p>
         </div>
         <div class="item">
            <input type="checkbox">
            <p>Attain the Meeting</p>
         </div>
        <%for(var i=0;i<newevent.length;i++){ %>
            <div class="item">
                <input type="checkbox">
               <p><%=newevent[i]%></p>
                <%} %>
            </div>
         
    
    <form action="/" method="post">
        <input type="text" name="newEvent" placeholder="Add Event">
        <button type="submit" name="submit" >+</button>
    </form>
</div> 
    <footer>copyright 2022</footer>
</body>
</html>